{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}

   <div class="main">
       <h1>" Tu sors, ce soir ? "</h1>

       <p class="description">
           Description du site, Description du site Description du site. Description du site
           Description du site : Description du site Description du site Description du site !<br><br>
           Description du site, Description du site Description du site. Description du site...
           Description du site ?
       </p>

       <div  class="triangles">
           <img src="{{ asset('assets/img/triangles.png') }}" alt="Some events visuals" width="430px">
       </div>
   </div>

{% endblock %}

