body {
    margin: 0;
    background-color:  #b8f2e6;
    color: #006d77;
    font-family: 'Baloo Chettan 2', serif;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa69e;
    min-height: 5em;
    padding-right: 10px;
    padding-left: 10px;
}

.logo {
    width: 140px;
}

.triangles {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    max-width: 430px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-left: 20px;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-evenly;
    transition: 100ms ease-in-out;
    transform: scale(1, 1);
    margin-left: 6px;
    margin-right: 6px;
}

li:hover {
    transform: scale(1.1, 1.1);
}

a {
    color: #006d77;
    text-decoration-line: none;
}

h1 {
    font-family: 'Sriracha', serif;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-family: 'Sriracha', serif;
    text-align: center;
    font-size: larger;
}

h3 {
    text-align: center;
    font-size: medium;
}

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 15px;
}

.description {
    text-align: center;
    width: 40%;
 }

.pdp {
    width : 100px;
    border-radius : 5px;
}

form, form > div, form > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#campus {
    display: flex;
    align-items: center;
}

button {
    text-align : center;
    background-color: #ffffff;
    color: #006d77;
    border: none;
    border-radius: 4px;
    margin: 12px;
    padding: 4px 20px;
    text-decoration: none;
    cursor: pointer;
}

button:focus {
    box-shadow: 0 0 10px white;
    outline: none;
}

.trouverLieu, .trouverVille {

}

input {
    margin: 12px 0 12px 0;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #5e6472;
}

input:focus {
    border: 1px solid #ffa69e;
    outline: none;
}

input[type="checkbox"] {
    margin: 0 12px 0 12px;
}

input:invalid, input:required {
    outline: none;
}

.listSorties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10% 0 10%;
}

.conteneurUlList {
    width: 15em;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    background-color: #e2f9f4;
}

.footer {
    height: 6.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf3dd
}

.deuxForms {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#map {
    width: 400px;
    height: 300px;
}

.map_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.updating {
    display: flex;
    justify-content: center;
}

#error {
    color: #ff6152;
}

@media screen and (max-width: 414px) {

    .description {
        text-align: center;
        width: 75%;
    }

    .triangles {
        display: flex;
        justify-content: center;
        margin: 25px;
        max-width: 300px;
    }

    li {
        transition: 100ms ease-in-out;
        transform: scale(1, 1);
        margin-left: 6px;
        margin-right: 6px;
    }

    li:focus {
        transform: scale(1.1, 1.1);
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: end;
    }

    .list>p {
        visibility: collapse;
    }

    .deuxForms {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
