{% if result == true and boss == false  %}
<div class="bouttonMilieu" ><a href="{{ path('desistement_sortie',{'id' : sortie.id}) }}">Se désinscrire!</a></div>
{% elseif cancel == true %}
<h2>Sorie annulée</h2>
{% elseif boss == true %}
<div class="bouttonMilieu"><a href="{{ path('annuler_sortie',{'id' : sortie.id}) }}">Annuler la sortie</a></div>
{% elseif etat == 'An'%}
<h2>Sortie annulée</h2>
{% elseif etat == 'Cl'%}
<h2>Les inscriptions sont cloturées</h2>
{% elseif etat == 'Pa'%}
<h2>La sortie est passée</h2>
{% elseif result == false and boss == false %}
<div class="bouttonMilieu" ><a href="{{ path('inscription_sortie',{'id' : sortie.id}) }}">S'inscrire à la sortie</a></div>
{% endif %}