{% extends 'base.html.twig' %}

{% block title %}Details de la sortie{% endblock %}

{% block main %}
        <div class="main">
                <h1>Details de la sortie</h1>
                <h2>{{ sortie }} </h2>

                <h3>Organisé par {{ sortie.organisateur }}</h3>

                <p>A {{ sortie.lieu }}</p>
                <p>Date de la sortie: {{ sortie.dateHeureDebut|date("Y-m-d H:i") }} </p>
                <p>Date de cloture :{{ sortie.dateLimiteInscription|date("Y-m-d H:i")}} </p>
                <p> Participants : {{ nombreParticipants + 1 }} / {{ sortie.nbInscriptionsMax }}</p>
                <p>Par le campus : {{ sortie.campusOrganisateur }}</p><br>
                {% if etat == 'An' %}
                <h2>La sortie est annulée</h2>
                {% elseif etat == 'Cl' %}
                <h2>Les inscriptions sont closes</h2>
                {% elseif boss == true %}
                        <button><div class="bouttonMilieu"><a href="{{ path('annuler_sortie',{'id' : sortie.id}) }}">Annuler la sortie</a></div></button>
                {% elseif result == true  %}
                        <button><div class="bouttonMilieu" ><a href="{{ path('desistement_sortie',{'id' : sortie.id}) }}">Se désinscrire !</a></div></button>
                {% elseif result == false %}
                        <button><div class="bouttonMilieu" ><a href="{{ path('inscription_sortie',{'id' : sortie.id}) }}">S'inscrire à la sortie</a></div></button>
                {% endif %}

                {% if result == true %}
                        <h2>Les participants : </h2>

                {% for participant in participants %}
                <h3><a href="{{ path('afficher_profil',{'id' : participant.id})  }}">{{ participant.nom }}</a></h3>
                {% endfor %}
                {% endif %}

        </div>

{% endblock %}
