{% extends 'base.html.twig' %}

{% block title %}Listes_Sorties{% endblock %}

{% block main %}
    <div class="main">
        <h1>Listes des sorties</h1>
        {{ form_start(formFiltre) }}
        {{ form_widget(formFiltre) }}
        <button type="submit">Go</button>
        {{ form_end(formFiltre) }}

        <button class="nouvelleSortieLien"><a  href="{{ path('nouvelle_sortie') }}" > Nouvelle Sortie</a></button>

        <div class="listSorties">
            {% for sortie in sorties %}
                <ul class="conteneurUlList">
                    <h2>{{ sortie }} </h2>
                    <h3>Organisé par {{ sortie.organisateur }}</h3>
                    <p>A {{ sortie.lieu }}</p>
                    <p>Date de la sortie: {{ sortie.dateHeureDebut|date("Y-m-d H:i") }} </p>
                    <p>Date de cloture :{{ sortie.dateLimiteInscription|date("Y-m-d H:i")}} </p>
                    <p>Par le campus : {{ sortie.campusOrganisateur }}</p>
                    <br>
                    {% if sortie.etat == 'An' %}
                    <h2>Sortie annulée !</h2>
                    {% else %}
                    <button><a href="{{ path('details_sortie',{'id' : sortie.id }) }}">Details de la sortie</a></button>
                        {% if is_granted('ROLE_ADMIN') %}
                            <button><a href="{{ path('annuler_sortie_admin', {'id' : sortie.id}) }}">Annuler sortie</a></button>
                        {% endif %}
                    {% endif %}


                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
