{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}


{% block main %}
    <div class="main">
        <div class="deuxForms">
            {{form_start(newSortieForm,{'attr':{"id":"sortieForm"}}) }}


            {{ form_label(newSortieForm.ville) }}
            {{ form_widget(newSortieForm.ville) }}
            {{ form_errors(newSortieForm.ville) }}
            <button id = "ajoutVille"  > Ajouter une Ville</button>
            {{ form_label(newSortieForm.lieu) }}
            {{ form_widget(newSortieForm.lieu) }}
            {{ form_errors(newSortieForm.lieu) }}

            <button id = "ajoutLieu" style="display:none" > Ajouter un lieu</button>
            <!--<div id ="lieuForm" class="main" style="display:none"> -->

            <!--</div>-->
            {{ form_widget(newSortieForm,{'attr':{"id":"suiteSortieForm","style":"display:none"}})}}
            <button type="submit" id="ajoutSortieBouton" style="display:none">Ajouter la sortie</button>
            {{ form_end(newSortieForm)}}

            {{form_start(newLieuForm,{'attr':{"id":"lieuForm","style":"display:none"}}) }}
            {{ form_widget(newLieuForm)}}

            <button type="submit" >Ajouter le lieu</button>
            {{ form_end(newLieuForm)}}

            {{form_start(newVilleForm,{'attr':{"id":"villeForm","style":"display:none"}}) }}
            {{ form_widget(newVilleForm)}}

            <button type="submit" id="boutonAjoutVille" >Ajouter la ville</button>
            {{ form_end(newVilleForm)}}

            <div class="map_buttons">
                <div id="map" ></div>
                <button id="trouverLieu" style="display:none" >Trouver le lieu</button>
                <button id="trouverVille" style="display:none" >Trouver la ville</button>
                <div id="error"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- insertion de l'api pour la carte -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

    <script type="text/javascript">
        var macarte = null;

        //Enleve les options sous la balise "select" donnée en parametre
        function removeOptions( selectElement)
        {
            let taille=selectElement.length;
            for (let n=0 ; n< taille ; n++) {
                //on supprime la premiere option, puis la 2eme option devient la premiere, etc
                selectElement.remove(0);
            }

        }



        //gestion de l'affichage du select 'lieu' et gestion des lieux en option sous le select

        var data = new FormData();
        function afficheLieux(){
            let ville = document.getElementById("sortie_ville");
            //si l'option 'Choisissez une ville' est toujours disponible, il faut l'effacer
            if(ville[0].value==""){
                ville.remove(0);
                document.getElementById("sortie_lieu").style.display = null;
                document.getElementById("lieuxLabel").style.display = null;
                document.getElementById("ajoutLieu").style.display = null;
                var lieuVille =    document.getElementById("lieu_ville");
                removeOptions(lieuVille);
                lieuVille.innerHTML +='<option value=\"' +ville.value + '\"></option>';
            }

            //envoie de la requete contenant l'id de la ville vers la fonction du controller
            let req = new XMLHttpRequest();
            req.open("GET",  ville.dataset.source.replace('$id', ville.value), false);

            //lors recuperation de la reponse de la requete, elle contient les lieux correspondant a la ville choisie
            req.onload = () => {
                //la requete es traduite pour la js:
                var lieux = JSON.parse(req.responseText);
                //les lieux sont supprimes du select
                removeOptions(document.getElementById("sortie_lieu"));
                //on ajoute le champ 'choisissez un lieu en premier'
                document.getElementById("sortie_lieu").innerHTML='<option value=\"\">Choisissez un lieu</option>';
                //on ajoute au select tous les lieux contenus dans la reponse de la requete
                lieux[0].forEach(element => document.getElementById("sortie_lieu").innerHTML+='<option value=\"' + element['id'] + '\">' + element['nom'] + '</option>');
                trouverLieux(lieux);
            }
            req.send();
        }

        document.getElementById("sortie_ville").onchange = afficheLieux;

        function afficheFromSortie(){ document.getElementById("sortie").style.display =null
            document.getElementById("ajoutSortieBouton").style.display =null}
        document.getElementById("sortie_lieu").onchange= function() {
            afficheFromSortie();
        };





        //Affichage du formulaire d'ajout de lieux


        document.getElementById("ajoutLieu").onclick = ajoutLieu;

        function ajoutLieu(){
            document.getElementById("villeForm").style.display='none';
            document.getElementById("trouverVille").style.display='none';

            document.getElementById("lieuForm").style.display = null;
            document.getElementById("trouverLieu").style.display=null;

            initMap(48.852969,2.349903);

            removeOptions(document.getElementById("lieu_ville"));
            document.getElementById("lieu_ville").innerHTML +='<option value=\"' + document.getElementById("sortie_ville").value + '\"></option>';
        }

        //sur click du bouton ajouter ville
        document.getElementById("ajoutVille").onclick = function () {

            document.getElementById("lieuForm").style.display = 'none';
            document.getElementById("trouverLieu").style.display='none';


            document.getElementById("villeForm").style.display=null;
            document.getElementById("trouverVille").style.display=null;
            initMap(48.852969,2.349903);
        }


        //Gestion de la carte
        // Fonction d'initialisation de la carte
        function initMap(lat, lon) {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map').setView([lat, lon], 11);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20,
                name: 'tiles'
            }).addTo(macarte);
        }


        /**
         * Cette fonction effectue un appel Ajax vers une url et retourne une promesse
         * @param {string} url
         */
        function ajaxGet(url){
            return new Promise(function(resolve, reject){
                // Nous allons gérer la promesse
                let xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function(){
                    // Si le traitement est terminé
                    if(xmlhttp.readyState == 4){
                        // Si le traitement est un succès
                        if(xmlhttp.status == 200){
                            // On résoud la promesse et on renvoie la réponse
                            resolve(xmlhttp.responseText);
                        }else{
                            // On résoud la promesse et on envoie l'erreur
                            reject(xmlhttp);
                        }
                    }
                }
                // Si une erreur est survenue
                xmlhttp.onerror = function(error){
                    // On résoud la promesse et on envoie l'erreur
                    reject(error);
                }
                // On ouvre la requête
                xmlhttp.open('GET', url, true);
                // On envoie la requête
                xmlhttp.send(null);
            })
        }



        //fonction pour trouver le lieu sur la carte
        function trouverLieux(lieux) {
            document.getElementById('trouverLieu').onclick = function () {
                // Ici nous chercherons les coordonnées GPS de la ville saisie
                // On envoie la requête ajax vers nominatim et on traite la réponse

                //la rue sous forme de string:
                let rue= document.getElementById('lieu_rue').value;

                //on concatene le nom de la ville (lieux[1][0]) et le nom de la rue
                let envoi=lieux[1][0].nom +' '+ rue;

                //on envoi le tout sur internet pour rechercher les coordonnées
                ajaxGet(`https://nominatim.openstreetmap.org/search?q=${envoi}&format=json&addressdetails=1&limit=1&polygon_svg=1`).then(reponse => {
                    // On convertit la réponse en objet Javascript
                    let data = JSON.parse(reponse)

                    if (data == '') {
                        document.getElementById('error').innerHTML = 'Ce lieu n\'a pas été trouvé.'
                    }
                    //recuperation des coordonnées gps , on les place dans les champs de formulaire cachés 'latitude' et 'longitude'
                    document.getElementById('lieu_latitude').value=data[0].lat;
                    document.getElementById('lieu_longitude').value=data[0].lon;
                    coorville = [data[0].lat, data[0].lon]
                    //on ajoute le repère sur la carte
                    var marker = L.marker([data[0].lat, data[0].lon]).addTo(macarte);
                    //on centre la carte sur ces coordonnées
                    macarte.panTo(coorville);
                })
            }
        }
        //idem que precedement mais pour la ville
        document.getElementById('trouverVille').onclick = function () {
            let envoi= document.getElementById('ville_nom').value;
            ajaxGet(`https://nominatim.openstreetmap.org/search?q=${envoi}&format=json&addressdetails=1&limit=1&polygon_svg=1`).then(reponse => {
                let data = JSON.parse(reponse)
                if (data == '') {
                    document.getElementById('error').innerHTML = 'Cette ville n\'a pas été trouvée.'
                }
                coorville = [data[0].lat, data[0].lon]
                var marker = L.marker([data[0].lat, data[0].lon]).addTo(macarte);
                macarte.panTo(coorville);
            })
        }

        //petit pb: si on recharge la page, la ville se recréé a l'identique... empecher 2 villes du meme nom, meme cp a pouvoir etre enregistre en base
        window.onload= function(){
            //au chargement dela page...
            //on selectionne 'choisissez une ville' ..
            document.getElementById("sortie_ville").selectedIndex="";
            //si une ville vient d'etre ajoutee...
            if({{ nouvelleVille }}=='1'){
                //dans le select, on pointe sur la ville tout juste cree..
                document.getElementById("sortie_ville").selectedIndex=document.getElementById("sortie_ville").length-1;
                //puis on affiche la partie du formulaire qui concerne les lieux
                afficheLieux();
                ajoutLieu();
            }
            //si un lieu vient d'etre ajoute..
            if({{ nouveauLieu }} == '1'){
                //dans le select, on pointe sur la ville qui correspond au lieu tout juste ajoute
                document.getElementById("sortie_ville").selectedIndex={{ idVille }};
                //on réaffiche la partie du formulaire cocernant les lieux
                afficheLieux();
                //dans le select, on pointe sur le lieu tout juste cree
                document.getElementById("sortie_lieu").selectedIndex=document.getElementById("sortie_lieu").length-1;
                //et on affiche le reste du formulaire de la sortie
                afficheFromSortie();
            }
        };


    </script>
{% endblock %}
