{% extends 'base.html.twig' %}

{% block title %}Activation deu compte{% endblock %}

{% block main %}

        <div class="main">
        <h1>Activation compte !!</h1>
        <p>Suivre le lien pour activer votre compte : {{ 'activation' }}</p>

    </div>

{% endblock %}
