{% extends 'base.html.twig' %}

{% block title %}Initialisation mot de passe{% endblock %}

{% block main %}

    <div class="main">
        <h1>Initialisation mot de passe</h1>
        <p>Nom : {{ contact.mail }}</p>

    </div>

{% endblock %}
