<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />
        <!-- link de la carte -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
        <style type="text/css">
            #map{ height:250px;
            width: 250px}</style>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}

        <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    </head>

    <header>
        <a href="{{path('home')}}"><img src="{{ asset('assets/img/logo_sortir.png') }}" alt="The website's logo" class="logo"></a>

        <ul class="list">
            {% if is_granted('ROLE_ADMIN') %}
                <li> <a href="{{ path('register') }}">Insérer utilisateur</a></li>
                <p>|</p>
                <li> <a href="{{ path('update_user') }}">Mise à jour profil</a></li>
                <p>|</p>
                <li> <a href="{{ path('liste_utilisateurs') }}">Gérer utilisateurs</a></li>
                <p>|</p>
                <li> <a href="{{ path('upload_csv_file') }}">Insérer CSV file</a></li>
                <p>|</p>
                <li> <a href="{{ path('liste_sorties') }}">Les sorties</a></li>
                <p>|</p>
                <li> <a href="{{ path('logout') }}">Logout</a></li>


            {% elseif is_granted('ROLE_USER')%}
                <li> <a href="{{ path('update_user') }}">Mise à jour profil</a></li>
                <p>|</p>
                <li> <a href="{{ path('liste_sorties') }}">Sorties</a></li>
                <p>|</p>
                <li> <a href="{{ path('logout') }}">Logout</a></li>

            {% else %}
                <li> <a href="{{ path('login') }}">Login</a></li>
            {% endif %}
        </ul>

    </header>

    <body>
        {% block main %}{% endblock %}
        {% block javascripts %}{% endblock %}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="updating">
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                    </div>
                {% endfor %}
            {% endfor %}
    </body>

    <footer class="footer">
        © {{ "now"|date("Y") }}  JB - Axel - Flora
    </footer>

</html>
