{% extends 'base.html.twig' %}

{% block title %}Details utilisateur{% endblock %}

{% block main %}
    <div class="main">
        <h1>Details utilisateur</h1>
        {%  if (app.user.uRLImage)== NULL %}
            <img src="{{ asset('uploads/ProfilImage/default.png') }}" class="pdp">
        {%  else %}
            <img src="{{ asset(user.URLImage) }}" class="pdp">
        {% endif %}
        <h2>{{ user.prenom }} {{ user.nom }}</h2>
        <h3>Dit {{ user.username }}</h3>
        <p>Campus : {{ user.campus }}</p>
    </div>

{% endblock %}
