{% extends 'base.html.twig' %}

{% block title %}Nouveau password{% endblock %}

{% block main %}

     <div classe="main">
        <h1>Changement de mot de passe</h1>


        <form method="post" action="{{ path('change_password') }}">

            <label for="password">Mot de passe actuel </label>
            <input type="password" name="_password" id="password">

            {{form_start(newPasswordForm) }}
            {{ form_widget(newPasswordForm)}}
                <button type="submit">Changer le mot de passe</button>
            {{ form_end(newPasswordForm)}}
        </form>
     </div>

{% endblock %}
