{% extends 'base.html.twig' %}

{% block title %}Insert CSV{% endblock %}

{% block main %}

    <div class="main">

        <h1>Insert CSV</h1>
        {{form_start(csvForm) }}
        {{ form_widget(csvForm)}}
        <button type="submit">Charger le fichier</button>
        {{ form_end(csvForm)}}

    </div>

{% endblock %}
