{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block main %}
    <h1>Liste des utilisateurs</h1>
<div class="listSorties">

    {% for utilisateur in utilisateurs %}
        <ul class="conteneurUlList">

            <h3>{{ utilisateur.prenom }}</h3>
            <h3>{{ utilisateur.nom }}</h3>
            <p>Pseudo: {{ utilisateur.username }}</p>
            <p>Mail: {{ utilisateur.mail }}</p>
            <!--{% if utilisateur.actif == true %} -->
            <!-- <p>Actif</p> -->

                {% for role in utilisateur.roles %}
                    {% if role == 'ROLE_NOT_ACTIVATE' %}
                        <button type="submit"> <a href="{{ path('supprimer_utilisateur',{'id' : utilisateur.id }) }}">Supprimer utilisateur</a></button>
                        <button type="submit"> <a href="{{ path('debannir',{'id' : utilisateur.id }) }}">Dé-bannir</a></button>
                    {% else %}
                        <!--<button type="submit"><a href="{{ path('desactiver_utilisateur', {'id' : utilisateur.id}) }}">Désactiver l'utilisateur</a></button><br> -->
                        <button type="submit"> <a href="{{ path('supprimer_utilisateur',{'id' : utilisateur.id }) }}">Supprimer utilisateur</a></button>
                        <button type="submit"> <a href="{{ path('bannir',{'id' : utilisateur.id }) }}">Bannir</a></button>
                    {% endif%}
                {% endfor %}
            {% elseif utilisateur.actif == false %}
                <p>Non actif</p>
                <button><a href="{{ path('supprimer_utilisateur',{'id' : utilisateur.id }) }}">Supprimer utilisateur</a></button>
                        <button type="submit"> <a href="{{ path('bannir',{'id' : utilisateur.id }) }}">Bannir</a></button>
            {% endif %}



        </ul>
    {% endfor %}
</div>

{% endblock %}
