{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block main %}
    <div class="main">
        <h1>Login</h1>
        <form method="post" action="{{ path('login') }}">
            <label for="username">Username : </label>
            <input type="text" name="_username" id="username">

            <label for="password">Password : </label>
            <input type="password" name="_password" id="password">

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">Se souvenir de moi</label>
            </div>

            <button type="submit" class="button">Login !</button>
        </form>
        <a href="{{ path('oublie_password') }}">Vous avez oublié votre mot de passe ?!</a>
    </div>
{% endblock %}
