{% extends 'base.html.twig' %}

{% block title %}Oublie mot de passe{% endblock %}

{% block main %}
    <div class="main">
        <h1>Oublie mot de passe</h1>

        {{ form_start(contactForm) }}
        {{ form_widget(contactForm) }}
        {{ form_end(contactForm) }}
    </div>

{% endblock %}
