{% extends 'base.html.twig' %}

{% block title %}Insertion utilisateur{% endblock %}

{% block main %}

    <div class="main">
        <h1>Insertion utilisateur </h1>

        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button type="submit">Insérer</button>
        {{ form_end(registerForm) }}
    </div>

{% endblock %}
