{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block main %}
    <div class="main">
        <h1>Entrez le nouveau mot de passe</h1>
        <form method="post">
            <label for="pass" >Mot de passe</label>
            <input name="password" id="pass" type="password">
            <input type="hidden" name="token" value="{{ token }}">
            <button>Valider</button>
        </form>
    </div>
{% endblock %}
