{% extends 'base.html.twig' %}

{% block title %}Mise à jour utilisateur{% endblock %}


{% block main %}
    <div class="main">
        <h1>Mettez à jour votre profil</h1>
        {%  if (app.user.uRLImage)== NULL %}
        <img src="{{ asset('uploads/ProfilImage/default.png') }}" class="pdp">
        {%  else %}
        <img src="{{ asset(app.user.URLImage) }}" class="pdp">
        {% endif %}



        {{form_start(updateUserForm) }}
        {{ form_widget(updateUserForm)}}
        <button type="submit">Mettre à jour</button>
        {{ form_end(updateUserForm)}}
        <a href="{{ path('change_password', {'id': app.user.id}) }}">Mot de passe oublié ?</a>
    </div>
{% endblock %}
